{% extends "base.html" %}
{% block titulo_pagina %}Agregar Categoría{% endblock %}
{% block content %}
<form action="{{ url_for('categoria.add') }}" method="post">
    <div class="field">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" class="input" required>
    </div>

    <div class="field">
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion" rows="3" class="textarea"></textarea>
    </div>

    <button type="submit" class="btn btn-black">
        <i class="bi bi-check-lg" aria-hidden="true"></i> Crear Categoría
    </button>
    <a href="{{ url_for('categoria.index') }}" class="btn btn-outline">Cancelar</a>
</form>

{% endblock %}